<div class="container">
    <div class="row" style="margin-top: 60px">
        <div class="col-md-12">
            <h3>Preguntas Frecuentes</h3>

            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                           href="#collapseOne">¿QUÉ ES OPDOMUN?</a>
                    </div>
                    <div id="collapseOne" class="accordion-body">
                        <div class="accordion-inner">
                            <p>
                                Opdomun es una plataforma web, cuya misión es asesorar y ayudar en la compra de una casa
                                adecuada a los usuarios. Para ello se apoya en una
                                metodología científica que evalúa cada casa de acuerdo a sus características físicas y
                                al lugar donde se encuentra. Además de asesorar en la compra
                                de casas, también brindamos los servicios de consejero para la renta de viviendas
                                vacacionales y poseemos una sección de clasificados sobre servicios
                                de construcción, donde existen anuncios sobre ventas de materiales, equipos y mano de
                                obra.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                           href="#collapseTwo">¿QUÉ ES EL COEFICIENTE OPDO (Op)?</a>
                    </div>
                    <div id="collapseTwo" class="accordion-body">
                        <div class="accordion-inner">
                            <p>
                                El coeficiente Opdo (Op) es la relación costo beneficio de la casa, definido por la
                                evaluación de la misma con el precio de venta. Este coeficiente
                                representa la proporción entre las características de la casa y el precio de venta
                                solicitado por el propietario. La Evaluación de la casa se realiza
                                mediante una metodología científica (Método de Evaluación Integral de Viviendas) que
                                analiza al inmueble y al entorno donde está emplazada. De esta
                                manera todas las ofertas siempre se organizan de forma descendiente en base al
                                Coeficiente Opdo, debido a que mientras es mayor el Coeficiente
                                Opdo, la oferta tendrá más características positivas por un precio menor.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                           href="#collapseThre">¿CÓMO PUBLICAR UN ANUNCIO SOBRE LA VENTA Y/O RENTA DE MI CASA EN
                            OPDOMUN?</a>
                    </div>
                    <div id="collapseThre" class="accordion-body">
                        <div class="accordion-inner">
                            <p>
                                Para publicar un anuncio sobre la venta y/o renta de su casa en Opdomun usted debe
                                establecer contacto con el Especialista Opdumun que se
                                encuentre más cercano a su lugar de residencia. Para ello usted puede visitar la página
                                http://www.opdomun.com/nosotros/especialistas opdomun.
                                El Especialista Opdomun es la persona capacitada para identificar correctamente las
                                características de su vivienda, así como del lugar donde se
                                encuentra emplazada, garantizando la veracidad de la información que se publicará en
                                nuestra plataforma.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                           href="#collapseFour">¿CÓMO PUBLICAR UN ANUNCIO CLASIFICADO?</a>
                    </div>
                    <div id="collapseFour" class="accordion-body">
                        <div class="accordion-inner">
                            <p>
                                Para publicar un anuncio clasificado usted debe visitar la página
                                http://www.opdomun.com/servicios de construccion/insertar anuncio. En esta página
                                usted debe llenar un formulario con la descripción del producto o servicio que usted
                                ofrece, el precio y la información de contacto.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
