<div class="container">
    <div class="row" style="margin-top: 60px">
        <div class="col-md-12">
            <!--<div class="row">-->
            <h3>MISIÓN / VISIÓN / VALORES</h3>
            <div>
                <h5>MISIÓN</h5>
                <p>
                    Asesorar y ayudar de forma profesional y técnica en la búsqueda de casas e inmuebles para
                    comprar
                    y/o rentar. Estamos comprometidos con la seriedad y la profesionalidad, buscando inspirar a
                    otros
                    para hacerlo también.
                </p>
            </div>
            <div>
                <h5>VISIÓN</h5>
                <p>
                    Ofrecer una variada cartera de servicios de calidad que satisfaga las necesidades y deseos de
                    los
                    usuarios. Mejorar e incrementar nuevas herramientas basadas en estudios científicos. Ser un buen
                    lugar donde trabajar, que las personas se sientan inspiradas para dar cada día lo mejor de sí
                    mismas. Desarrollar una red de trabajo para crear un valor común y duradero. Ser una
                    organización
                    eficaz y dinámica.
                </p>
            </div>
            <div>
                <h5>VALORES</h5>
                <p>
                    Liderazgo / Colaboración / Profesionalidad / Seriedad / Imparcialidad / Pasión / Calidad
                </p>
            </div>
            <!--</div>-->
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <h3>PRECIO DE NUESTROS SERVICIOS</h3>
            <div>
                <h5>SERVICIOS GRATUITOS</h5>
                <ol>
                    <li>Búsqueda de anuncios clasificados</li>
                    <li>Subscripción mediante correo electrónico para recibir notificaciones</li>
                    <li>Descargar la aplicación móvil.</li>
                </ol>
                <h5>SERVICIOS PAGADOS</h5>
                <div class="row pay-services">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="plans-title rounded-circle shadow">PLAN BÁSICO</div>
                                <h2 style="font-weight: bold; letter-spacing: 0.8px; margin: 10px;">25.00 CUC</h2>
                                <span>Evaluación del inmueble</span>
                                <hr>
                                <span>Publicación en la sección de anuncios <strong>BÁSICOS</strong> por 3 meses</span>
                                <hr>
                                <span>Después de los 3 meses la tarifa será de <strong>3.00 CUC</strong> por mes contratado.</span>
                                <hr>
                                <span>Subir hasta 3 imágenes</span>
                            </div>
                            <div class="col-md-6">
                                <div class="plans-title rounded-circle">PLAN PREMIUM</div>
                                <h2 style="font-weight: bold; letter-spacing: 0.8px; margin: 10px;">40.00 CUC</h2>
                                <span>Evaluación del inmueble</span>
                                <hr>
                                <span>Publicación en la sección de anuncios <strong>PREMIUM</strong> por 6 meses</span>
                                <hr>
                                <span>Después de los 6 meses la tarifa será de <strong>3.00 CUC</strong> por mes contratado.</span>
                                <hr>
                                <span>Subir hasta 10 imágenes</span>
                                <hr>
                                <span>Publicación en las Redes Sociales</span>
                                <hr>
                                <span>Dictámen del estado Técnico Constructivo de la vivienda</span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-6">
                        <h6 style="width:100%; border-bottom: 1px #d69049 solid;">SECCIÓN RENTA DE CASAS</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="plans-title rounded-circle shadow">PLAN BÁSICO</div>
                                <h2 style="font-weight: bold; letter-spacing: 0.8px; margin: 10px;">20.00 CUC</h2>
                                <span>Evaluación del inmueble</span>
                                <hr>
                                <span>Publicación en la sección de anuncios <strong>BÁSICOS</strong> por 3 meses</span>
                                <hr>
                                <span>Después de los 3 meses la tarifa será de <strong>3.00 CUC</strong> por mes contratado.</span>
                                <hr>
                                <span>Subir hasta 3 imágenes</span>
                            </div>
                            <div class="col-md-6">
                                <div class="plans-title rounded-circle">PLAN PREMIUM</div>
                                <h2 style="font-weight: bold; letter-spacing: 0.8px; margin: 10px;">30.00 CUC</h2>
                                <span>Evaluación del inmueble</span>
                                <hr>
                                <span>Publicación en la sección de anuncios <strong>PREMIUM</strong> por 6 meses</span>
                                <hr>
                                <span>Después de los 6 meses la tarifa será de <strong>3.00 CUC</strong> por mes contratado.</span>
                                <hr>
                                <span>Subir hasta 10 imágenes</span>
                                <hr>
                                <span>Publicación en las Redes Sociales</span>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>