<div class="container">
    <div class="row" style="margin-top: 60px">
        <div class="col-md-12">
            <h3>¿CÓMO PUEDO SER UN ESPECILISTA OPDOMUN?</h3>
        </div>
    </div>
    <h6>REQUISITOS Y PROCEDIMIENTOS PARA CONVERTIRME EN UN ESPECIALISTA OPDOMUN</h6>
    <p>
        OPDOMUN es un negocio colaborativo, que se apoya en los Especialistas. Los Especialistas OPDOMUN son expertos
        cuya misión es visitar el inmueble que el cliente desea vender y/o comprar, para recoger y certificar las
        características del mismo, así como las del entorno donde está ubicado. Los datos recolectados por los
        Especialistas son procesados por nuestra plataforma web mediante una metodología científica. Los Especialistas
        OPDOMUN son profesionales y estarán capacitados para la correcta identificación de las características
        arquitectónicas y urbanas de una vivienda en cuestión. Los Especialistas OPDOMUN serán socios de nuestro
        negocio.
    </p>

    <h6>
        Para llegar a ser un Especialista Opdomun se deben seguir los siguientes pasos:
    </h6>
    <ol>
        <li>
            Ser graduado de Nivel Medio o Superior.
        </li>
        <li>
            Ser titular de una licencia de Trabajador por Cuenta Propia de la actividad Facilitador de permutas y
            compra-venta de viviendas.
        </li>
        <li>
            Una vez que hayas sido aprobado se te capacitará y se te entregará el Software de trabajo. Entonces... ¡Ya
            estás listo para trabajar!
        </li>
    </ol>

    <h6>
        Debe seguir el siguiente procedimiento:
    </h6>
    <ol>
        <li>
            Enviar al e-mail info@opdomun.com sus datos personales (Nombre completo, Dirección, CI) así como la
            fotocopia de la licencia de Trabajador por Cuenta Propia y el Certificado de Graduado de Nivel Medio o
            Superior.
        </li>
        <li>
            Una vez analizada su solicitud OPDOMUN le contactará para la firma del contrato y darle la capacitación
            necesaria. Entonces... ¡Ya estás listo para trabajar!.
        </li>
    </ol>


</div>