<footer [ngClass]="{'home-color':isHome, 'normal-color':!isHome}">
    <div class="row text-muted text-sm">
        <div class="col-sm-4">
            <div class="my-2 text-center text-sm-left ml-4">
                <a class="text-muted" href="">www.opdomun.com</a><br>
                <span><i class="fas fa-envelope"></i> info@opdomun.com</span><br>
                <span><i class="fas fa-phone"></i> +53 5555</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <a class="btn-floating btn-sm btn-fb waves-effect waves-light"><i class="fab fa-facebook-f"></i></a>
                <a class="btn-floating btn-sm btn-tw waves-effect waves-light"><i class="fab fa-twitter"></i></a>
                <a class="btn-floating btn-sm btn-ins waves-effect waves-light"><i class="fab fa-instagram"></i></a>
            </div>
            <span>Copyright © OPDOMUN 2019</span>
        </div>
        <div class="col-sm-4  ">
            <!--This area is reserved-->
        </div>
    </div>
</footer>



